:root {
    --bg-primary-color: #ff0000;
    --bg-white-color: #fff;
    --gb-gray-color: #bbb;
}


*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--gb-gray-color);
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
}

.bloco {
    background-color: var(--bg-white-color);
    width: 280px;
    margin: 20px;
    height: 200px;
}
.bloco:hover{
    border: 2px solid var(--bg-primary-color);
}